<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaspicamController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="CameraConnectionBinding" openTimeout="01:00:00"
              receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="400000000"
              maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://192.168.1.40:9000/Capture.svc" binding="basicHttpBinding"
            bindingConfiguration="CameraConnectionBinding" contract="CameraServiceReference.ICameraService"
            name="Camera1" />
        <endpoint address="http://192.168.1.41:9000/Capture.svc" binding="basicHttpBinding"
            bindingConfiguration="CameraConnectionBinding" contract="CameraServiceReference.ICameraService"
            name="Camera2" />
        <!--<endpoint address="http://[camIP]:9000/Capture.svc" binding="basicHttpBinding"
            bindingConfiguration="CameraConnectionBinding" contract="CameraServiceReference.ICameraService"
            name="Camera3" />-->
      </client>
  </system.serviceModel>
  <userSettings>
    <RaspicamController.Properties.Settings>
      <setting name="BasePath" serializeAs="String">
        <value>C:\temp\remoteSnapshots</value>
      </setting>
    </RaspicamController.Properties.Settings>
  </userSettings>
</configuration>